* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Stack Sans Headline', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.large-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.large-container.friend{
    background-color: #14BDAC;
}
.large-container.enemy{
    background-color: #EB2F64;
}
.large-container h1 {
    position: absolute;
    top: 20%;
}
.large-container h1.friend{
    color: #ffffff;
    border-bottom: 4px solid aqua;
}
.large-container h1.enemy{
    color: #2e2e2e;
    border-bottom: 4px solid #F87398;
}
.container {
    height: 200px;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 4px;
}
.container.friend{
    background-color: aqua;
}
.container.enemy{
    background-color: #F87398;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
}
.item.friend {
    background-color: #14BDAC;
    color: #ffffff;
}
.item.enemy{
    background-color: #EB2F64;
    color: #2e2e2e;
}
.large-container,
.container,
.item,
.large-container h1 {
    transition: background-color 500ms ease-in,
    color 500ms ease-in,
    border-bottom 500ms ease-in;
}

.alert-screen {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    top: 0;
    left: 0;
    transform: scale(0);
    opacity: 0;
    transition: transform 70ms ease, opacity 70ms ease;
    background: rgba(0, 0, 0, 0.7);
}

.alert-container {
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    gap: 30px;
}

.alert-screen.active {
    transform: scale(1);
    opacity: 1;
}

.alert-container p {
    font-size: 30px;
    font-weight: 600;
}
.alert-container .alert-btn {
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 300;
}
.alert-container.neutral {
    background-color: #A9A9A9;
}

.alert-container.neutral p {
    color: black;
    border-bottom: 2px solid black;
}

.alert-container .alert-btn.neutral {
    background-color: #eee;
    color: black;
}

.alert-container.friend {
    background-color: #14BDAC;
}

.alert-container.friend p {
    color: #eee;
    border-bottom: 2px solid aqua;
}

.alert-container.enemy {
    background-color: #EB2F64;
}

.alert-container.enemy p {
    color: #2e2e2e;
    border-bottom: 2px solid #F87398;
}
