* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.large-container {
    font-family: 'Stack Sans Headline', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.large-container.friend{
    background-color: #14BDAC;
}
.large-container.enemy{
    background-color: #EB2F64;
}
.large-container h1 {
    position: absolute;
    top: 20%;
}
.large-container h1.friend{
    color: #ffffff;
    border-bottom: 2px solid aqua;
}
.large-container h1.enemy{
    color: #2e2e2e;
    border-bottom: 2px solid #F87398;
}
.container {
    height: 200px;
    width: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3px;
}
.container.friend{
    background-color: aqua;
}
.container.enemy{
    background-color: #F87398;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
}
.item.friend {
    background-color: #14BDAC;
    color: #ffffff;
}
.item.enemy{
    background-color: #EB2F64;
    color: #2e2e2e;
}
.large-container,
.container,
.item,
.large-container h1 {
    transition: background-color 500ms ease-in,
    color 500ms ease-in,
    border-bottom 500ms ease-in;
}